*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*! สีกำหนดเอง ผ่าน id*/
#bg_hder{

    background-color: #ffe1ae;
}

#bg_teamSOM{
    background-color: #ff9900;
    

    
}
#bg_sec{
    background-color: #e2e0e0;
}
#bg_ft{
    background-color: #ff9900;
}
#bg_hd_card_m{
    background-color: #156e0d;
    color: white;
}
#aboutScroll{
    width: 100%;
    overflow-x: scroll;
}
#imgNews{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
}
#divImgNews{
    overflow: hidden;
}

/*
 * ────────────────────────────────────────────────────── I ──────────
 *   :::::: CSS FOR Shop SacredOBJ : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────
 */



#picSize{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
#name_shop_card{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#1359b0;
    
}
#detailSacredObj{
    word-break:break-all;
}
input[id=qty]::-webkit-inner-spin-button, 
input[id=qty]::-webkit-outer-spin-button {  
   opacity: 1;

}
input[id=qty]{
    text-align:right;
    width:70px;
    margin:0px .5rem;
}
#img4basket{
    width: 30px;
    height: 30px ;
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width: 764px){
    #picSize{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}




/** ──────────────────────────────────────────────────────────────────────────────── */


