*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mitr', sans-serif;
    
}

/*! สีกำหนดเอง ผ่าน id*/
#bg_hder{

    background-color: #fdf5e7;
}

#bg_teamSOM{
    background-color: #ff9900;
    

    
}
#bg_sec{
    background-color: #e2e0e0;
}
#bg_ft{
    background-color: #ff9900;
}
#bg_hd_card_m{
    background-color: #156e0d;
    color: white;
}
#aboutScroll{
    width: 100%;
    overflow-x: scroll;
}

/*
 * ────────────────────────────────────────────────────── I ──────────
 *   :::::: CSS FOR Shop SacredOBJ : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────
 */



#picSize{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
#name_shop_card{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

@media screen and (max-width: 764px){
    #picSize{
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

/** ──────────────────────────────────────────────────────────────────────────────── */


